node_modules/
dist/
build/
.next/
out/
coverage/
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# prisma
apps/api/prisma/*.db
